.ext-action-icon {
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.ext-action-icon1 {
    width: 29px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    margin-top: 25px;
    margin-left: 10px;
}
