<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
    <script src="/extjs-expand/resources/ext-652/packages/classic/ext-all-debug.js"></script>
    <script src="/extjs-expand/src/override/form/action/Submit.js"></script>

    <link rel="stylesheet" type="text/css"
          href="/extjs-expand/resources/ext-652/packages/classic/theme-triton-all-debug.css"/>
    <script src="/extjs-expand/resources/ext-652/packages/classic/theme-triton-debug.js"></script>
    <script src="app.js"></script>
</head>

<body>

</body>

</html>